#root
  > div
  > div
  > div:nth-child(7)
  > div:nth-child(2)
  > div.opuscapita_date-input.form-control
  > div.opuscapita_date-input__input-container
  > div.opuscapita_date-input-field.form-control
  > input {
  height: 33px;
  background: #e8f0fe;
  padding-left: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

#root
  > div
  > div
  > div:nth-child(7)
  > div:nth-child(2)
  > div.opuscapita_date-input.form-control
  > button {
  display: none;
}

#root
  > div.sc-jKJlTe.iKWBsF
  > div
  > div:nth-child(7)
  > div:nth-child(2)
  > div.opuscapita_date-input.form-control
  > div.opuscapita_date-input__picker-container
  > div
  > div.opuscapita_day-picker__footer
  > button {
  display: none;
}
