#root
  > div.sc-jhAzac.dYkIex
  > div
  > div:nth-child(3)
  > div:nth-child(2)
  > div.opuscapita_date-input.form-control
  > button {
  display: none;
}

#root
  > div.sc-jhAzac.dYkIex
  > div
  > div:nth-child(3)
  > div:nth-child(2)
  > div.opuscapita_date-input.form-control
  > div.opuscapita_date-input__picker-container
  > div
  > div.opuscapita_day-picker__footer
  > button {
  display: none;
}

#root
  > div.sc-jhAzac.dYkIex
  > div
  > div:nth-child(3)
  > div:nth-child(2)
  > div.opuscapita_date-input.form-control
  > div.opuscapita_date-input__input-container
  > div.opuscapita_date-input-field.form-control
  > input {
  width: 150px;
  height: 35px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding-left: 15px;
  width: 200px;
}
